<h4 mat-dialog-title style="background-color: #1392eb;">
        <span> Pay Now</span>
</h4>
    <mat-dialog-content class="mat-typography"> 
<h1>Please do not refresh the page...</h1>
<h3>Are you sure you want to proceed with payment?</h3>

<div class="btn-group container">
<div class="col-sm">

    <button class="col-xs-4 btn btn-primary btn-block" (click)="submit()">Yes</button>
</div>

<div class="col-sm">
    <button class="col-xs-4 btn btn-primary btn-block" (click)="cancel()">No</button>
</div>
</div>
<br>
<br>
<br>
</mat-dialog-content>



<script>document.getElementsByTagName('sub').click();</script>