
    <h1>Please do not refresh this page...</h1>
 
 <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f, $event)" method="post" [action]="callback">
    <table >
       <tbody> -->
         <!-- <input type="hidden" name="MID" value={{MID}}>
          <input type="hidden" name="WEBSITE" value={{WEBSITE}}>
          <input type="hidden" name="ORDER_ID" value={{OID}}>
          <input type="hidden" name="CUST_ID" value={{CID}}>
          <input type="hidden" name="MOBILE_NO" value={{MOBNO}}>
          <input type="hidden" name="EMAIL" value={{EMAIL}}>
          <input type="hidden" name="INDUSTRY_TYPE_ID" value={{INDUSID}}>
          <input type="hidden" name="CHANNEL_ID" value={{CHANNELID}}>
          <input type="hidden" name="TXN_AMOUNT" value={{TXNAMT}}>
          <input type="hidden" name="CALLBACK_URL" value={{CALLBACKURL}}>
          <input type="hidden" name="CHECKSUMHASH" value={{CHCKSUM}}>  -->

          <!-- <input name="MOBILE_NO" value={{MOBNO}}>
          <input name="currency" value={{currency}}>
          <input name="EMAIL" value={{EMAIL}}>
          <input name="amount" value={{amount}}>
          <input name="CALLBACK_URL" value={{CALLBACKURL}}>
          <input name="CHECKSUMHASH" value={{CHCKSUM}}> --> 
          <!-- <input name="PROMO_CAMP_ID" value="">
          <input name="MERC_UNQ_REF" value="">
          <input name="PAYMENT_MODE_ONLY" value="">
          <input name="PAYMENT_TYPE_ID" value="">
          <input name="AUTH_MODE" value="">
          <input name="BANK_CODE" value=""> -->
          
       <!-- </tbody>
    </table> -->

   <button (click)="submit()">Submit</button>

   <script>document.getElementsByTagName('sub').click();</script>
 <!-- </form> -->
