<p>This is a test</p>

<h1>Enter Details</h1>

<label>Mobile Number</label>
<input type ="text" class ="form-control" [(ngModel)] ="mobno">

<label>Email ID</label>
<input type ="text" class ="form-control" [(ngModel)] ="email">

<label>Transaction Amount</label>
<input type ="text" class ="form-control" [(ngModel)] ="amount">

<label>currency</label>
<input type ="text" class ="form-control" [(ngModel)] ="currency">


<button class="btn btn-info " mat-button (click)="onOrder()">order</button>







