<!-- <div class="bg"> [ngStyle]="{backgroundImage:'url(./assets/PrideAsset25.jpg)' }"-->
<div class="mainBackgroundContainer">

    <div style="overflow: hidden; height: 100%; width: 100%; z-index: 18;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <h1 class="center swirl-in-right-fwd title">Service | Integrity | Community</h1>
            <br>
            <h3 class="lead center" style="color: white;"> On a mission to serve you the best, always, forever!</h3>
        </div>

        <br>
        <br>

        <div class="container ">

            <img src=".\assets\owner.jpeg" class="center img-responsive d-block w-75 h-50" alt="No image" style="border-radius: 50%;">

            <br>
            <h3 class="center" style="color: white; font-weight: bold; font-family: Inconsolata;"> Mrs. Puja Dhatwalia, CEO Pride of Milk ltd.</h3>
            <br>

            <blockquote class="quote-card">
                <p>
                    The best way to find yourself is to loose yourself in Service of others.
                </p>

                <cite>
          Mahatma Gandhi
        </cite>
            </blockquote>

            <br>
            <br>
            <h3 id="divhover" class="center" (mouseenter)="hoverEvent()" style="color: white; font-weight: bold; font-family: Inconsolata; text-align: center;">Reach out to us</h3>

            <div id="Contact list" class="card">

                <div class="card-body">
                    <h3 class="card-title cardstyle">For any queries and solutions please contact at our Hamirpur branch</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Our offices are open from 10:00 am to 5:00 pm, from Monday to Friday
                    </h6>
                    <br>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>Email Id - antarikshmall@yahoo.in

                    <br>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon>Contact No - + 91 9459121791

                    <br>
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Address - Mrs. Puja Dhatwalia, Antariksh Mall, near Bank of India, Pratap Nagar, Hamirpur, Himachal Pradesh, 171001.

                </div>



            </div>
            <br>
            <br>

            <div class="map-responsive">
                <iframe src="https://maps.google.com/maps?q=antariksh%20mall&t=&z=17&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>



        </div>
        <br>
        <br>

    </div>

</div>