<div class="container">
<div class="container-fluid">  <!-- container starts -->
    <div class="row"> 
        <hr style="width:50%">
    </div>
    <div class="row"> 
        <p class="heading center">Our Products</p>
    </div>
    <div class="row"> 
        <hr style="width:50%">
    </div>
    <div class="row"> 
        <p class="text center desp">We offer three types of Subscription plans for Customers: quaterly, half-yearly and 1 month trial.
            The subscriptions come with daily morning milk deliveries. Please note that all of our prices are inclusive of all taxes. 
            
            
        </p>
    </div>
    <div class="row"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-4 bg-light center trans">
            <img class="mx-auto d-block rounded" src="./assets/PrideAsset9.png">
            <p class="heading">Cow Milk</p>
            <p class="text">Monthly subscription at Rs 40 per litre</p>
            <p class="text">Farm fresh cow milk with best nutritional benefits for you and your family.</p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 bg-light center trans">
            <img class="mx-auto d-block rounded" src="./assets/PrideAsset8.png">
            <p class="heading">Buffalo Milk</p>
            <p class="text">Monthly subscription at Rs 50 per litre</p>
            <p class="text">Farm fresh buffalo milk for stronger bones and great immunity for you and your family.</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row"> 
        <div class="col-sm-4"></div>
        <div class="col-sm-4 bg-light center trans">
            <img class="mx-auto d-block rounded" src="./assets/PrideAsset10.png">
            <p  class="heading">Farm Fresh Curd</p>
            <p class="text">Monthly subscription at Rs 30 per 1/2 litre</p>
            <p class="text">Farm fresh curd is a source of good bacteria and promotes overall development of bones while keeping you cool.</p>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br>
    <br>
    <div class="row">
            <a class="nav-link" routerLink="/order" class="btn btn-primary btn-lg active center trans" role="button" 
            aria-pressed="true">Subscribe to our great products here</a>
    </div>
</div> <!-- container ends -->

</div>