
    h1 {color: white;
     font-family:Inconsolata;
     font-size: 500%;
     Padding:3px;
     border-bottom:30px;
     }
     
     .fa_custom {  
   
     float: right;
    margin-right:40px ;
    margin-top: 10px;
     font-size: 50px; 
     }  
    
     #bottle{
       width: 100%;
       padding-left: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
       border-radius: 10%;
     }
     
     #drinkbest{    
       padding:20px;  
       border-radius:8%; 
     } 
     
        #innerdiv{
            padding:5px;
            padding-left: 0px;
        }

        #secondInnerdiv{
            border-radius: 5%;
            padding:10px;
            
        }    
       
                   hr{
                    border-top: 2px solid #cfbb08;
                    margin: 10px;
                    
                   }
                   #header{color:#cfbb08 ;
                   font-family:Inconsolata;
                   font-size: 500%;
                   }
                   #body{
                       font-size:large;
                       font-family: Libre Baskerville;
                       padding: 5px;
                   }
                  
                  
                 
                   #top-left {
         position: absolute;
         padding: 20px;
         color: white;
         font-size: 400%;
         font-family: Inconsolata;
         
       }
   
       .figure-caption{
        font-size: 15px;
        padding-top: 5px;
        font-family: Libre Baskerville;
       }
       
    .figure-caption{
    font-size: 15px;
    padding-top: 5px;
   font-family: Libre Baskerville;
   }
     
                 
        
  

   .carousel-indicators{
    margin: auto;
  }
  
  img{
    height: 75%;
    width: 75%;
  }
  .caption{
    font-size: 40px;
    font-weight: bold;
    font-family: 'InconsoLibre Baskerville';
  }
    .pledge{
      text-align: center;
      padding: 2;
      font-family: Inconsolata;
    }
    .bottom-text{
      color: white;
      font-family: Inconsolata;
      font-size: xx-large;
      padding: 10px;
    }
    .fa{
      font-size:48px;
      float: right;
      padding: 10px;
    }


    .center {
      margin: auto;
      width: 50%;
    }

    .carousel-indicators > li {
      border-radius: 100%;
    }